<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>16204209836-0re9et4k9krf83ej137qfm698bmcdlta.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.16204209836-0re9et4k9krf83ej137qfm698bmcdlta</string>
	<key>API_KEY</key>
	<string>AIzaSyDMRfOhbK8CMgAONlJ9adfu4-XJHjWDVdI</string>
	<key>GCM_SENDER_ID</key>
	<string>16204209836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerce</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-6898</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-6898.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:16204209836:ios:007a1e3e408e03fd4e4909</string>
</dict>
</plist>